* {
    text-align: center;
    margin: 0px;
}
/************************* Main Page ****************************************/
.headerbar {
    height: 250px;
    width: 100%;
    background-color: rgb(17, 82, 143);
}
.navbar {
    height: 50px;
    width: 100%;
    background-color:rgb(169, 169, 169);
}
.maincontentBox {
    height: auto;
    width: 70%;
    margin: 0px auto 0px auto;
    background-color: rgb(255, 255, 255);
}
.boxContainer {
    height: 300px;
    width: 300px;
    margin: 0px 20px 0px 20px;
}
.footer {
    display:flex;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: black;
}
/************************* Fonts ****************************************/
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}
h1 {font-size: 2em;color: rgb(58, 58, 58)}
h2 {font-size: 1.8em;color: rgb(203, 203, 203)}
h3 {font-size: 1.6em;color: rgb(41, 57, 120)}
h4 {font-size: 1.4em;color: rgb(52, 97, 152)}
h5 {font-size: 1.2em;color: rgb(109, 109, 109)}
h6 {font-size: 1.0em;color: rgb(109, 109, 109)}
p {font-size: 1.2em;color: rgb(109, 109, 109)}